---
import '../styles/global.css';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
---

<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">
<title>amy moraes - product designer</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap" rel="stylesheet">
</head>

<body>
	
	<header>	
		<Navigation />
		
		<div class="box-about" id="about">
			
			<h1>amy moraes</h1>
			<h2><em>web designer</em></h2>
			<p>I am a brazilian web designer currently based in lisbon, portugal. graduated in graphic design, with a postgraduate degree in UX, and specializing in digital experience design, i have been working as a web designer for 10 years, primarily focusing on building landing pages, social media assets, and email marketing.</p>
			
		</div>
		
	</header>
	
	<main>
		
		<div class="individual-project" id="projects">
			<figure>
				<img src="src/img/gabi-cezar.jpg" alt="blog interface design - gabi cezar">
				<figcaption>
					gabi cezar<br>
					blog interface design<br>
					2020
				</figcaption>
			</figure>
			
			<figure>
				<img src="src/img/credito-vc.jpg" alt="web interface design - credito.vc">
				<figcaption>
					crédito.vc<br>
					web interface design<br>
					2018
				</figcaption>
			</figure>
			
			<figure>
				<img src="src/img/credito-vc.jpg" alt="social media assets - ludi presentes">
				<figcaption>
					ludi presentes<br>
					social media assets<br>
					2017				
				</figcaption>
			</figure>
							
		</div>
		
	</main>
	
	  <Footer />

	
	
</body>
</html>
