---
import '../styles/global.css';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
---

<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">
<title>amy moraes - product designer</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap" rel="stylesheet">
</head>

<body>
	
	<header>	
		
		<Navigation />
		
		<div class="box-about" id="about">
			
			<h1>get in touch</h1>
			<p>drop me a message to discuss the best way to kickstart your project.</p>
			
		</div>
		
	</header>
    

	<main>

		<div class="container-form">

			<form action="#">
	  
			 	<label for="name">name:*</label>
		 	 	<input type="text" id="name" name="name" placeholder="first and last name" required>

		 	 	<label for="name">e-mail:*</label>
		 	 	<input type="email" id="email" name="email" placeholder="the email you use the most" required>

		 	 	<label for="message">message*</label>
		  	 	<textarea id="message" name="message" placeholder="what are you looking for?" required></textarea>
	  
			  	<input type="submit" value="submit message">
	  
			</form>

	 	 </div>
	
	</main>
	
    <Footer />
  
</body>
</html>
