---
import '../styles/global.css';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
---

<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">
<title>amy moraes - product designer</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap" rel="stylesheet">
</head>

<body>
	
	<header>	
		<Navigation />
		
		<div class="box-about" id="about">
			
			<h1>amy moraes</h1>
			<h2><em>product designer</em></h2>
			<p>I'm a product designer with over a decade of experience in design and a background in digital marketing. My expertise allows me to craft user-centered design solutions while aligning with digital marketing objectives.

			<p>With a degree in Graphic Design from UNIVALI (Brazil), a postgraduate degree in UX from Anhembi Morumbi University (Brazil), and ongoing studies in Digital Experience Design at the Faculty of Fine Arts, University of Lisbon (Portugal), I continuously enhance my skills and knowledge.</p>
				
			<p>I strive to create innovative solutions tailored to user needs, leveraging research, processes, and tools.</p>
			
		</div>
		
	</header>
	
	
	
	<Footer />	
	
</body>
</html>
