---
import '../styles/global.css';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
---

<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">
<title>amy moraes - product designer</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap" rel="stylesheet">
</head>

<body>
	
	<header>	

		<Navigation />
		
		<div class="box-about" id="about">
			
			<h1>amy moraes</h1>
			<h2>
				<em>product designer</em>
			</h2>

			<p>i'm a product designer with over a decade of experience in design and a background in digital marketing. my expertise allows me to craft user-centered design solutions while aligning with digital marketing objectives.

			<p>with a degree in graphic design from univali (brazil), a postgraduate degree in ux from anhembi morumbi university (brazil), and ongoing studies in digital experience design at the faculty of fine arts, university of lisbon (portugal), i continuously enhance my skills and knowledge.</p>
				
			<p>i strive to create innovative solutions tailored to user needs, leveraging research, processes, and tools.</p>
			
		</div>
		
	</header>

	<main>

		<div class="individual-project" id="projects">

			<div class="container" id="project-cabinmate">
				<figure>
					<img src="img/interface-design-case-study-cabin-mate.jpg" alt="user interface case study - cabinmate">
				</figure>

				<div class="caption">
				<a href="/project-cabinmate"><p>user interface, cabin mate 2024</p></a>
				</div>
			</div>

			<div class="container" id="project-fbaul-redesign">
				<figure>
					<img src="img/dxd-project-redesign-fbaul-website-alumni.jpg" alt="dxd project - redesign of the fbaul website">
				</figure>

				<div class="caption">
				<a href="/project-fbaulredesign"><p>website redesign, fbaul 2023</p></a>
				</div>
			</div>

			<div class="container" id="project-newfeature-tinder">
				<figure>
					<img src="img/creating-a-new-feature-tinder.jpg" alt="dxd project - creating a new feature for tinder">
				</figure>

				<div class="caption">
				<a href="/project-newfeaturetinder"><p>creating a new feature, tinder 2023</p></a>
				</div>
			</div>	

		</div>

		<div class="div-bt">
			<a href="/portfolio"><button class="bt">check out all the projects</button></a>
		</div>

	</main>
		
	<Footer />	
	
</body>
</html>
