---
import '../styles/global.css';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
---

<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">
<title>amy moraes - product designer</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap" rel="stylesheet">
</head>

<body>
	
	<header>	
		<Navigation />
		
		<div class="box-about" id="about">
			
			<h1>portfolio</h1>
			<p>here you can check all my latest projects.</p>
			
		</div>
		
	</header>
	
	<main>
		
		<div class="individual-project" id="projects">
			
			<div class="container" id="project-cabinmate">
				<figure>
					<img src="img/interface-design-case-study-cabin-mate.jpg" alt="user interface case study - cabinmate">
				</figure>

				<div class="caption">
				<a href="/project-cabinmate"><p>user interface, cabin mate 2024</p></a>
				</div>
			</div>

			<div class="container" id="project-fbaul-redesign">
				<figure>
					<img src="img/dxd-project-redesign-fbaul-website-alumni.jpg" alt="dxd project - redesign of the fbaul website">
				</figure>

				<div class="caption">
				<a href="/project-fbaulredesign"><p>website redesign, fbaul 2023</p></a>
				</div>
			</div>

			<div class="container" id="project-newfeature-tinder">
				<figure>
					<img src="img/creating-a-new-feature-tinder.jpg" alt="dxd project - creating a new feature for tinder">
				</figure>

				<div class="caption">
				<a href="/project-newfeaturetinder"><p>creating a new feature, tinder 2023</p></a>
				</div>
			</div>

			<div class="container" id="project-app-buddywalkies">
				<figure>
					<img src="img/interface-design-app-buddy-walkies.jpg" alt="user interface - creating a new app from scratch called buddy walkies">
				</figure>

				<div class="caption">
				<a href="/project-buddywalkies"><p>creating a new app, buddy walkies 2023</p></a>
				</div>
			</div>

			<div class="container" id="project-newfeature-tinder">
				<figure>
					<img src="img/creating-a-new-feature-tinder.jpg" alt="dxd project - creating a new feature for tinder">
				</figure>

				<div class="caption">
				<a href="/project-newfeaturetinder"><p>creating a new feature, tinder 2023</p></a>
				</div>
			</div>

			<div class="container" id="project-newfeature-tinder">
				<figure>
					<img src="img/creating-a-new-feature-tinder.jpg" alt="dxd project - creating a new feature for tinder">
				</figure>

				<div class="caption">
				<a href="/project-newfeaturetinder"><p>creating a new feature, tinder 2023</p></a>
				</div>
			</div>

						            							
		</div>
		
	</main>
	
	
	<Footer />
	
</body>
</html>
