---
import '../styles/global.css';
import '../styles/gallery.theme.css';
import '../styles/gallery.min.css';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
---

<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">
<title>amy moraes - product designer</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap" rel="stylesheet">
</head>

<body>
	
	<header>	
		<Navigation />
		
		<div class="box-about" id="about">
			
			<h1>buddy walkies</h1>
		
		</div>
		
	</header>

	<div class="single-project-slider-description">	
		<div class="gallery autoplay items-3">

            <div id="item-1" class="control-operator"></div>
            <div id="item-2" class="control-operator"></div>
            <div id="item-3" class="control-operator"></div>

            <figure class="item">
                <h1><img src="img/interface-design-app-buddy-walkies.jpg" alt="user interface - creating a new app from scratch called buddy walkies"></h1>
            </figure>

            <figure class="item">
                    <h1><img src="img/interface-design-app-buddy-walkies-02.jpg" alt="user interface - creating a new app from scratch called buddy walkies"></h1>
            </figure>

            <figure class="item">
                <h1><img src="img/interface-design-app-buddy-walkies-03.jpg" alt="user interface - creating a new app from scratch called buddy walkies"></h1>
            </figure>

            <div class="controls">
                <a href="#item-1" class="control-button">.</a>
                <a href="#item-2" class="control-button">.</a>
                <a href="#item-3" class="control-button">.</a>
            </div>

        </div>

		<div class="description-single-project">

			<p>
				this project was part of the user interface subject, within the digital design course at the faculty of fine arts of the university of lisbon. the objective was to create an app from scratch, taking into consideration the entire creation of the design system, concept, development of wireframes, and high-fidelity mockups.
			</p>
			
			<p>
				<strong>project name:</strong> buddy walkies<br>
				<strong>institution:</strong> faculty of fine arts, university of lisbon<br>
				<strong>areas of exploration:</strong>research, benchmarking, interface design, design system, wireframes, mockup, prototype<br>
				<strong>year of completion:</strong> 2024<br>
				<strong>notes:</strong> group work with two other classmates
			</p>

			

		</div>

	</div>
	
	
    <Footer />
  
		
</body>
</html>
