---
import '../styles/global.css';
import '../styles/gallery.theme.css';
import '../styles/gallery.min.css';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
---

<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">
<title>amy moraes - product designer</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap" rel="stylesheet">
</head>

<body>
	
	<header>	
		<Navigation />
		
		<div class="box-about" id="about">
			
			<h1>a new feature for tinder</h1>
		
		</div>
		
	</header>

	<div class="single-project-slider-description">	
		<div class="gallery autoplay items-3">

            <div id="item-1" class="control-operator"></div>
            <div id="item-2" class="control-operator"></div>
            <div id="item-3" class="control-operator"></div>

            <figure class="item">
                <h1><img src="img/creating-a-new-feature-tinder.jpg" alt="dxd project - creating a new feature for tinder"></h1>
            </figure>

            <figure class="item">
                    <h1><img src="img/creating-a-new-feature-tinder-02.jpg" alt="dxd project - creating a new feature for tinder"></h1>
            </figure>

            <figure class="item">
                <h1><img src="img/creating-a-new-feature-tinder-03.jpg" alt="dxd project - creating a new feature for tinder"></h1>
            </figure>

            <div class="controls">
                <a href="#item-1" class="control-button">.</a>
                <a href="#item-2" class="control-button">.</a>
                <a href="#item-3" class="control-button">.</a>
            </div>

        </div>

		<div class="description-single-project">

			<p>
				the objective was to create a new feature for an existing app, and we decided to work with tinder. we created a feature where various types of couples and romantic relationships are contemplated, allowing couples to register on the platform and enabling matches between more than two people.
			</p>
			
			<p>
				<strong>project name:</strong> tinder together<br>
				<strong>institution:</strong> faculty of fine arts, university of lisbon<br>
				<strong>areas of exploration:</strong> redesign, research, benchmarking, desk research, interviews, mockup, prototype, usability testing<br>
				<strong>year of completion:</strong> 2023<br>
				<strong>notes:</strong> group work with two other classmates
			</p>

			<p>
				you can see more details of this project by <a href="https://www.behance.net/gallery/197904691/Tinder-Together" target="_blank">the link to my behance.</a>
			</p>

		</div>

	</div>
	
	
    <Footer />
  
		
</body>
</html>

