   
<footer>
   
   <div id="get-in-touch">
        
        <ul class="social-media">
            <li><a href="https://www.linkedin.com/in/amykatherine" target="_blank">linkedin</a></li>
            <li><a href="https://www.behance.net/amykatherine" target="_blank">behance</a></li>
            <li><a href="mailto:amy.km@hotmail.com">e-mail</a></li>
        </ul>
        
        <h3>amy moraes, 2024. all rights reserved ©</h3>
        
    </div>

</footer>
